body {
    font-family:Verdana,Geneva,sans-serif;
    background-color: #642D8B
}


.submitButton {
  border: gray 2px solid;
  padding-left: 3px;
  padding-right: 3px;
  color: gray;
}

.disabled {
  display: none;
}

.hidden {
  display: none !important;
}

.unmanaged {
  margin-left: 4ex;
}

.arrow-box {
  margin-left: 2.4ex;
  position: relative;
  left: -1ex;
  cursor: default;
}

.arrow-box:hover {
    border: gray 1px solid;
}

#opProjects {
  margin: 2em;
  cursor: default;
}

div.opmProjectHeader {
  display: table-row;
}
.opmProjectHeader span {
  display: table-cell;
  padding: 4px;
  font-style: italic;
  text-align: center;  
}
/* http://colorschemedesigner.com/#4D21Tn6p-w0w0 */
div.managedProject:nth-child(odd) {
  background-color: #9B61C5;
}

div.managedProject:nth-child(even) {
  background-color: #A67CC5;
}

div.managedProject {
  display: table-row;
  position: relative; /* allows overlays */
}
.projectData {
  display: block;
  text-align: center;
}
.taskBusy .projectName {
  text-align: right;
  display: inline;
  padding: 4px 6px 4px 6px;
}
.taskMessage {
  text-align: center;
  padding: 4px 6px 4px 10px;
}
div.opmProjectFooter {
  display: table-row;
}

.opmProjectFooter span {
  display: table-cell;
  padding: 4px;
  font-style: italic;
  text-align: center;  
}

.columnLink[gitStatus='gitWarn'] {
  color: #CFCB3A;  /* see scheme */
}
.columnLink[gitStatus='gitErr'] {
  color: red;
}
.columnLink[gitStatus='gitOk'] {
  color: #3B0F5A;  /* darkest from color scheme */
}
.columnCell {
  display: table-cell;
  text-align: center;
}

.projectName {  /* after columnCell */
  text-align: right;
}

.columnLink {
  padding: 4px 6px 4px 6px;
}
.columnLink:hover {
  text-decoration: underline;
  cursor: default;
}
.columnButton {
  border: transparent 4px solid;
  padding: 0 2px 0 2px;
}
.columnButton:hover {
  border:  #642D8B 4px solid;
}
.overlay {
  position: absolute;
  z-index: 10;
  background-color: #642D8B;
  border: black 1px solid;
}
.taskBusy {
  border: none;
  padding: 4px 6px 4px 6px;
}
.overlay input {
  border: 2px inset; /* specify defaults to avoid changes */
  padding: 1px;
  background-color: #642D8B;
}
.input .overlay {
  border: none;
  padding: 3px;  /* align wit input */ 
  color: #3B0F5A;  /* darkest from color scheme */
}