body {
    font-family:Verdana,Geneva,sans-serif;
    /* http://colorschemedesigner.com/#1R61T3jII--wV */
    background-color: #FFFFF1;
    color: #4D3F00; /* a dark brown */
}

.textAttend {
  color: black;
  font-weight: normal;
}

.textAnnotate {
  color: #4D3F00; /* a dark brown */
  font-weight: lighter;
}

.textHint {
  color: #F5FBE7;
}

.pageTitle {
  font-size: 2em; 
  font-weight: lighter;
  margin-left: 1ex;
}

.siteTitle { 
  font-weight: lighter;
  text-align: center;
}

.submitButton {
  border: gray 2px solid;
  padding-left: 3px;
  padding-right: 3px;
  color: gray;
}

.disabled {
  display: none;
}

.hidden {
  display: none !important;
}

.unmanaged {
  margin-left: 4ex;
}

.arrow-box {
  margin-left: 2.4ex;
  position: relative;
  left: -1ex;
  cursor: default;
}

.arrow-box:hover {
    border: gray 1px solid;
}

.projectsTable {
  margin: 1.5em;
  cursor: default;
  color: black; /* to get the table body text to standout */
  border-collapse: separate;
  text-align: center;
}

.opmProjectHeader {
  padding: 4px;
  font-style: italic;
  text-align: center;  
}

.projectsTableBody {
  color: black;
}

.managedProject:nth-child(odd) {
  background-color: #F5FBE7;
}

.managedProject:nth-child(even) {
  background-color: #F6FBED;
}

.managedProject {
  position: relative; /* allows overlays */
}
.projectData {
  display: block;
  text-align: center;
}
.taskBusy .projectName {
  text-align: right;
  display: inline;
  padding: 4px 6px 4px 6px;
}
.taskMessage {
  text-align: center;
  padding: 4px 6px 4px 10px;
}

.opmProjectFooter span {
  padding: 4px;
  font-style: italic;
  text-align: center;  
}

.columnLink[gitStatus='gitWarn'] {
  color: #9C00FF; 
}
.columnLink[gitStatus='gitErr'] {
  color: red;
}
.columnLink[gitStatus='gitOk'] {
  color: #807E79;  
}
.columnCell {
  text-align: center;
}

.projectName {  /* after columnCell */
  text-align: right;
}

.columnLink {
  padding: 4px 6px 4px 6px;
}
.columnLink:hover {
  text-decoration: underline;
  cursor: default;
}
.columnButton {
  border: transparent 4px solid;
  padding: 0 2px 0 2px;
}
.columnButton:hover {
  border:  #70C462 4px solid;
}
.overlay {
  position: absolute;
  z-index: 10;
  background-color: #F6FBED;
  border: gray 1px solid;
}
.taskBusy {
  border: none;
  padding: 4px 6px 4px 6px;
}
.overlay input {
  border: 2px #A67CC5 inset; 
  padding: 1px;
  background-color: #F6FBED;
}
.input .overlay {
  border: none;
  padding: 3px;  /* align with input */ 
}

.branch {
  padding-left: 0;  /* In this column we have checkboxSpacers */
  padding-right: 0;
}
.checkboxSpacer {
  visibility: hidden;
  margin: 0;
}

.branchFrom {
  margin: 2px;
  padding: 2px;
}
.branchFrom:before {
  content: 'new branch from: ';
}
.branches {
  z-index: 10;
  background-color: #F6FBED;
  border: gray 1px solid;
  position: absolute;
}
.branchesContainer {
  background-color: #F6FBED;
  padding: 4px;
}
.branches .branchName {
  border: 1px solid transparent;   
}
.branches .branchStartPoint {
  color: #F5FBE7;
}
.branches input {
  background-color: #F6FBED;
}
.branches input:focus {
  border: 2px  #F5FBE7 inset;
  color: #F5FBE7;
  outline-color: #D5FFCE; /* lighter of the n-th child colors */
}

.hint:before {
  content: 'hint ';
}
.hint {
  color:  #F5FBE7;
}

.message {
  padding: 20px;
  border: 5px gray solid;
  border-radius: 15px;
}
.centerButton {
  text-align: center;
  margin-top: 10px;
}
.okButton {
  padding: 10px; /*bigger button to hit*/
  border-radius: 5px;
}
